/node_modules/
/vendor/
/.git/
/coverage/
/.github/
/.info/
/.phpunit.cache
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/.vscode
/tests/
/.storybook/
/mailpit/
database/database.sqlite
docker-compose.yml
Dockerfile
**/.env
!**/.env.docker
infection.json5
phpstan.neon
