includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - src/Core
        - src/Modules

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#Cannot cast mixed to int#'
        - '#Property .* does not accept mixed#'

    excludePaths:
        - src/Modules/*/Tests/*
        - src/Core/*/Tests/*
#
#    checkMissingIterableValueType: false
